<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appathon Project</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h2 class="centered">Enter a Disease or a Condition:</h2>
      <form action="/search" method="GET">
        <div class="wrap">
          <div class="search">
            <input type="text" class="searchTerm" id="term" name="term" placeholder="ex. Pneumonia" />
            <input type="submit" class="searchButton" />
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
