@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
}

main {
  padding: 1rem;
  margin: auto;
}

.p {
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.form {
  margin: 0;
  padding: 0;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00b4cc;
  font-size: 35px;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 60px;
  height: 66px;
  opacity: 0;
  cursor: pointer;
}

.search:before {
  position: absolute;
  right: -50px;
  width: 60px;
  height: 66px;
  line-height: 66px;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-family: 'FontAwesome';
  content: '\f002';
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 60%;
  margin: 1% auto;
}

.result {
  margin-top: 150px;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 10%;
  text-align: center;
}
.responsive-table .col-3 {
  flex-basis: 80%;
}

@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    flex-basis: 50%;
    text-align: right;
  }
}
